div {
  &.border-container {
    display: flex;
    align-items: center;

    span {
      &.pointer {
        font-weight: 600;
        padding-left: 22px;
        padding-right: 4px;
      }

      &.value {
        font-weight: lighter;
      }
    }
  }

  &.border-countries {
    display: flex;
    flex-wrap: wrap;
    width: 400px;

    button {
      &.value {
        outline: none;
        border: none;
        margin: 8px 10px;
        padding: 6px;
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 1300px) {
  div {
    &.border-container {
      align-items: flex-start;
      flex-direction: column;

      span {
        &.pointer {
          margin: 12px 0;
          font-size: 1rem;
        }
      }
    }

    &.border-countries {
      width: 100%;

      button {
        &.value {
          margin: 6px 8px;
          padding: 4px;
        }
      }
    }
  }
}
