@use "src/assets/mixins/colors";

$headings: 1, 2, 3, 4, 5, 6;

@each $heading in $headings {
    body {
        &.light {
            h#{$heading} {
                color: colors.$lightColor;
            }
        }

        &.dark {
            h#{$heading} {
                color: colors.$darkColor;
            }
        }

        h#{$heading} {
            transition: color 0.5s ease-in-out;
        }
    }
}
