body {
    section {
        &.country-list-loading,
        &.country-list-error {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            span {
                font-size: 2rem;
            }
        }
    }
}
