@import "App.scss";

body {
  &.light {
    header {
      &.main-header {
        background: $lightBg;
        box-shadow: rgb(0 0 0 / 5%) 0 6px 24px 0, rgb(0 0 0 / 8%) 0 0 0 1px;
      }
    }
  }

  &.dark {
    header {
      &.main-header {
        background: $secondaryBg;
        color: $lightColor;
      }
    }
  }
}

header {
  &.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
    height: 90px;

    h1 {
      margin-left: 90px;
      font-size: 18px;
    }
  }
}
