@use "src/assets/mixins/widths";

@media screen and (max-width: widths.$medium-screen) {
    body {
        div {
            &.country-detail-borders {
                h4 {
                    font-size: 1.2rem;
                }

                .country-detail-buttons {
                    justify-content: center;
                }
            }
        }
    }
}

body {
    div {
        &.country-detail-borders-loading {
            margin-top: 50px;
        }

        &.country-detail-borders {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            column-gap: 16px;
            width: 600px;

            .country-detail-buttons {
                display: flex;
                flex-wrap: wrap;
                flex: 1;

                button {
                    display: block;
                    margin: 6px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
