body {
    section {
        &.country-detail-loading,
        &.country-detail-error {
            margin-top: 20px;

            span {
                font-size: 2rem;
            }
        }

        &.country-detail {
            figure {
                width: 385px;
                height: 250px;
                margin-right: 8px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            div {
                &.divider {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1;
                    column-gap: 12px;

                    &.center {
                        margin: auto;
                    }

                    h2 {
                        &.country-detail-heading {
                            margin-bottom: 30px;
                        }
                    }

                    .country-detail-information-section {
                        display: flex;
                        justify-content: space-between;
                        column-gap: 24px;
                    }
                }
            }
        }
    }
}
