div {
  &.information {
    margin: 14px 0;

    header {
      margin-left: 18px;
      margin-bottom: 20px;
      font-size: 1.4rem;
    }
  }

  &.wrapper {
    display: flex;
    justify-content: space-between;

    div {
      &.second {
        margin-bottom: 26px;

        :nth-child(4) {
          display: flex;
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  div {
    &.information {
      width: 100%;

      header {
        margin-bottom: 10px;
        font-size: 1.1rem;
      }
    }

    &.wrapper {
      flex-direction: column;

      div {
        &.second {
          margin-bottom: 0;

          :nth-child(4) {
            width: 100%;
          }
        }
      }
    }
  }
}
