div {
  &.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1300px) {
  div {
    &.search-container {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
  }
}
