@import "App.scss";

body {
  &.light {
    figure {
      &.country {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    }
  }

  &.dark {
    figure {
      &.country {
        background-color: $secondaryBg;
      }
    }
  }
}

figure {
  &.country {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 22px 12px;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
