@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");
@import "App.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-size: 14px;

  &.light {
    .search-field-wrapper,
    .image img,
    summary,
    .region {
      background-color: $lightBg;
      box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    }
  }

  &.dark {
    background-color: $darkBg;
    color: $lightColor;

    .search-field-wrapper,
    .search-field,
    summary,
    .region {
      background-color: $secondaryBg;
      color: $lightColor;
    }

    .search-field {
      &::placeholder {
        color: $lightColor;
      }
    }
  }
}
