@use "@fontsource-variable/nunito-sans";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    &#root {
        font-family: "Nunito Sans Variable", sans-serif;
    }
}

body {
    &.light {
        background: hsl(0, 0%, 98%);
    }

    &.dark {
        background: hsl(207, 26%, 17%);
    }

    transition: background-color 0.5s ease-in-out;
}
