@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");
@import "./App.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-size: 14px;

  main {
    height: 100vh;
  }

  &.dark {
    main {
      background-color: $darkBg;
      color: $lightColor;
    }
  }
}
